<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.baumann.browser">

    <!-- Permission -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="s">

        <!-- BrowserActivity -->
        <activity
            android:name="de.baumann.browser.activity.BrowserActivity"
            android:configChanges="orientation|uiMode|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">

            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />

        </activity>

        <!-- Settings -->
        <activity
            android:name="de.baumann.browser.activity.Settings_Activity"
            android:label="@string/setting_label"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.ProfilesList"
            android:label="@string/setting_title_profiles_protectedList"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_Delete"
            android:label="@string/menu_delete"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_PrivacyActivity"
            android:label="@string/setting_title_profiles_privacy"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_Backup"
            android:label="@string/setting_title_data"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_UI"
            android:label="@string/setting_title_ui"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_Gesture"
            android:label="@string/setting_gestures"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_Filter"
            android:label="@string/setting_filter"
            android:theme="@style/AppTheme" />

        <activity
            android:name="de.baumann.browser.activity.Settings_Profile"
            android:label="@string/setting_title_profiles_edit"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
